{% extends "layout.html" %}
{% block content %}
  <div id="stock-list">
    <table border="1", class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Ticker</th>
          <th>Name</th>
          <th>Industry</th>
        </tr>
      </thead>
      <tbody>
        {% for s in stocks %}
          <tr>
            <td>{{s['id']}}</td>
            <td>{{s['ticker']}}</td>
            <td>{{s['name']}}</td>
            <td>{{s['industry']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}



